html {
  background-color: #F6CD76;
  font-family: "Roboto";
  --font-color: #373737;
  --font-color-dimed: #727272;
  --font-color-light: #C4C4C4;
  --border-color: #DEDEDE;
}

h2, h3 {
  margin: 0;
  color: var(--font-color);
}

h2 {
  font-size: 20px;
}

p {
  margin: 0;
  font-size: 12px;
}

button {
  background-color: unset;
  border: none;
}

div.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-height: 400px;
  display: flex;
  flex-flow: row nowrap;
}

.wallets-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
  width: 35%;
  max-height: 100%;
  background-color: #F2F2F2;
  padding: 32px;
  overflow-y: scroll;
}
.wallets-list__heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.wallets-list__heading h2 {
  font-weight: 400;
}
.wallets-list__heading button {
  font-family: inherit;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
}
.wallets-list__wallet {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
}
.wallets-list__wallet_active {
  border: 2px solid #8793C6;
}
.wallets-list__wallet p {
  color: var(--font-color-dimed);
}
.wallets-list__wallet__logo {
  width: 50px;
}
.wallets-list__wallet__number {
  font-weight: 500;
}
.wallets-list__wallet__valid-date {
  font-size: 11px;
}

.wallet-info {
  width: 70%;
  background-color: #fff;
  padding: 32px;
  overflow-y: auto;
}
.wallet-info__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid #DEDEDE;
}
.wallet-info__header h2:first-child {
  font-weight: 400;
}
.wallet-info__header__balance span {
  font-size: 16px;
  vertical-align: top;
}
.wallet-info__operations-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
}
.wallet-info__operations-list .operation {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.wallet-info__operations-list .operation__info {
  padding-left: 50px;
}
.wallet-info__operations-list .operation__info p {
  margin-top: 4px;
  color: var(--font-color-light);
}
.wallet-info__operations-list .operation_add .operation__info__sum {
  color: #8ACE5D;
}
.wallet-info__operations-list .operation_add .operation__info__sum span {
  font-size: 12px;
  vertical-align: top;
}
.wallet-info__operations-list .operation_add .operation__info::before {
  content: "+";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  text-align: center;
  font-weight: 300;
}
.wallet-info__operations-list .operation_subtract .operation__info__sum {
  color: #8797C6;
}
.wallet-info__operations-list .operation_subtract .operation__info__sum span {
  font-size: 12px;
  vertical-align: top;
}
.wallet-info__operations-list .operation_subtract .operation__info::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  text-align: center;
  font-weight: 300;
}
